.div1{
    height: 240px;   
    text-align: center;
}


.div2-1{
    background-color: rgb(218, 218, 220);
    height: 90px;
    text-align: center;
    margin:0px 20px ;
    font-size: 20px;
}

.div2-2{
    background-color:rgb(194, 195, 195) ;
    height: 110px;
    float: left;
    width: 600px;
    text-align: center;
    margin-top: 3px;
    margin-left:20px;
    margin-bottom: 20px; 
    font-size: 20px;
}

.div2-3{
    background-color:rgb(158, 161, 161);
    width: 250px;
    height: 110px;
    color: white;
    float: left;
    margin:3px 0px 20px 3px;
    text-align: center;
    font-size:20px ;
    
}
.div2-4{
    background-color: rgb(143, 145, 145);
    width: 624px;
    float: left;
    height: 110px;
    margin:3px 0px 20px 3px;
    text-align: center;
    font-size: 18px;
    
}

.p1{
    font-size: 20px;
    text-align: center;
}

